<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="baseConf" status="info" monitorInterval="30">

    <Appenders>
        <Console name="Console">
            <PatternLayout>
                <Pattern>[%-5p] %d{yyyy-MM-dd HH:mm:ss,SSS} [%t] %c{1.}#%M[%L]: %m%n</Pattern>
            </PatternLayout>
        </Console>
        <File name="File">
            <fileName>/Users/wu/admin-job.log</fileName>
            <PatternLayout>
                <Pattern>[%-5p] %d{yyyy-MM-dd HH:mm:ss,SSS} %t %X{JOB_LOG_ID} %c{1.}#%M[%L]: %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>

    <Loggers>
        <Logger name="com.snailwu.job.admin.mapper" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>

</Configuration>